$--color-primary:#EA5947;
$--color-text-regular:#444444;
$--color-text-secondary:#969696;
$--background-color-base:#EFEFF7;
$--link-default-font-color:#8D77FB;
$--link-default-active-color:#8D77FB;
$--disable-text-color: #bbbbbb;
$--disable--color: #ededed;